ion-searchbar {
    padding: 0px;
    --border-radius: 5px;
    --background: rgb(248, 248, 248);
    --icon-color: #28367a;
    --placeholder-color: #28367a;
    --placeholder-opacity: 100%;
  }
    ion-list-header {
      padding: 0px;
    }
    
    h2 {
      color: gray;
    }
    
  ion-item {
    --detail-icon-color: #28367a;
    padding-bottom: 5px;
    --inner-padding-right: 0px;
    --background: rgb(248, 248, 248);
    --border-radius: 5px;
    --detail-icon-color:#28367a;
    --detail-icon-opacity: 100%;
    --detail-icon-font-size: 17px;
    ion-avatar {
      margin:0;
      padding: 2px;
    }
    ion-icon {
      font-size: 300%;
    }
  
  }
  .item-container {
    padding-top: 3px;
    border-radius: 5px;
  }