<ion-app>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Création de Devis</ion-title>
    <p slot="end">2 sur 6</p>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div class="title">
    <p><span> 2 </span> Intervention</p>
  </div>
  <div fullscreen="true" class="ion-padding">
    <p>Dans quelle partie de la maison allez vous intervenir ?</p>
    <br>
   <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button></ion-button>
      </ion-col>
      <ion-col>
        <div>2 of 3</div>
      </ion-col>
      <ion-col>
        <div>3 of 3</div>
      </ion-col>
    </ion-row>
  </ion-grid>
   
  </div>

</ion-content>
<ion-footer class="ion-padding" translucent="true">
  <ion-button class="btn-suivant" expand="block" 
  (click)="submit()" >Suivant 
  <ion-icon name="chevron-forward"></ion-icon>
  </ion-button>
</ion-footer>

</ion-app>