<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          icon="arrow-back-sharp" defaultHref="home/acceuil">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Créer une facture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br>
<div class="header">
  <ion-icon name="document-text-outline"></ion-icon>
  <h1>FACTURES</h1>
  <br>
</div>

    <ion-button routerLink="/home/factures/devis-en-facture" size="large" class="custom" expand="block">
      Devis en facture
    </ion-button>
    <br>
    <ion-button routerLink="/home/factures/facture-manuelle" size="large" class="custom" expand="block">
      Facture manuelle
    </ion-button>

</ion-content>