<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          icon="arrow-back-sharp" defaultHref="home/acceuil">
      </ion-back-button>
    </ion-buttons>
    <ion-title>devis en facture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-list-header lines="full">
      <ion-searchbar debouce="700" 
                     (ionChange)="_ionChange($event)" 
                     placeholder="Recherche" ></ion-searchbar>
  </ion-list-header>

  <h3 class="title">Devis</h3>
  <div *ngFor = "let doc of searchItem" class="item-container">
    <ion-item lines="none" 
               detail="true">
              
  <ion-icon name="document-text-outline"></ion-icon>
      
      <ion-label>
        <h3>Philippe simon</h3>
        <h4>Date: </h4>
        <h4>Description: Peinture maison</h4>
      </ion-label>
    </ion-item>
    </div>
  </ion-list>
</ion-content>
