<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          icon="arrow-back-sharp" defaultHref="home/acceuil">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Patamètres</ion-title>
  </ion-toolbar>
</ion-header>
 <ion-content fullscreen="true" class="ion-padding">

  <div class="header">
    <ion-icon name="settings-outline"></ion-icon>
    <h1>Paramètres</h1>
  </div>

   
  <ion-button expand="block" routerLink="entreprise">
   <ion-icon name="home-outline"></ion-icon>
    <span>Entreprise</span>
    </ion-button>
  <ion-button expand="block" routerLink="model-devis">
    <ion-icon name="document-text-outline"></ion-icon>
    <span>Model de devis</span>
  </ion-button>
  <ion-button expand="block" routerLink="comptes">
    <ion-icon name="people-outline"></ion-icon>
    <span>Comptes</span>
  </ion-button>
  <ion-button expand="block" routerLink="categories">
    <ion-icon name="filter"></ion-icon>
        <span>Catègories des produits</span>
  </ion-button>
  <ion-button expand="block" routerLink="interventions">
    <ion-icon name="albums-outline"></ion-icon>
    <span>Interventions</span>
  </ion-button>
  <ion-button expand="block" routerLink="prestations">
    <ion-icon name="albums-outline"></ion-icon>
    <span>Prestations</span>
  </ion-button>
  <ion-button expand="block" routerLink="traveaux">
    <ion-icon name="albums-outline"></ion-icon>
    <span>Traveaux</span>
  </ion-button>
   

</ion-content>