  <ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Création de Devis</ion-title>
      <p slot="end">5 sur 6</p>
    </ion-toolbar>
  </ion-header>


  <ion-content fullscreen="true" class="ion-padding">
    <div class="title">
      <p><span> 5 </span> Produit à utiliser</p>
    </div>
    <div fullscreen="true">
     <ion-searchbar placeholder="Rechercher votre produit"></ion-searchbar>
    </div>
  
  </ion-content>

<ion-footer class="ion-padding" translucent="true">
  <ion-button class="btn-suivant" expand="block" 
  (click)="submit()" >Suivant 
  <ion-icon name="chevron-forward"></ion-icon>
  </ion-button>
</ion-footer>

</ion-app>