<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          icon="arrow-back-sharp" defaultHref="home/acceuil">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Catégorie Peinture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-title>Peinture</ion-title>
    <ion-button size="middle"></ion-button>
  </ion-toolbar> 
  <ion-list>
    <ion-card (click) = openDetailModal()>
      <ion-card-content>
      <ion-grid fixed>
         <ion-row>
           <ion-col size="3">
             <ion-thumbnail>
               <img [src]="" />
             </ion-thumbnail>
           </ion-col>
           <ion-col size="9">
               <ion-card-title></ion-card-title> 
               <ion-card-title></ion-card-title>           
           </ion-col>
         </ion-row>
      </ion-grid>
    </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
