
h1 {
    padding-left: 0 0 0 10px;
    margin: 0px;
}
ion-button{
    text-align:center;
    padding-left: 16px;
    padding-right:16px;
    span{
      text-align:center;
      width:100%;
      font-weight: bold;
      padding-left: 10%;
    }
  }

   


