<ion-app>
  <ion-header class="ion-no-border" fullscreen="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
      text="" 
      icon="arrow-back-sharp" 
      defaultHref="/login">
  </ion-back-button>
    </ion-buttons>
    <ion-title>Inscription Utilisateur</ion-title>
    <p slot="end">1 sur 3</p>
  </ion-toolbar>
</ion-header>
<ion-content translucent="true" class="ion-padding">
  <div class="title">
    <p><span> 1 </span> Vos Informations</p>
  </div>
  <form class="ion-padding" [formGroup]="form">
    <ion-item lines="none"class="ion-select-item" color="primary">
      <ion-select  slot=""  interface="popover" placeholder="Langue">   
        <ion-select-option class="select-interface-option" value="admin">francais</ion-select-option>
        <ion-select-option class="select-interface-option" value="comptable">Anglais</ion-select-option>
        <ion-select-option class="select-interface-option" value="utilisateur">Italien</ion-select-option>
      </ion-select>   
    </ion-item>
    <ion-item lines="none" class="input-item">
      <ion-input type="text" 
                 formControlName="nom"
                 placeholder="Nom"></ion-input>
    </ion-item>
     <ion-item lines="none" class="input-item">
      <ion-input type="text" 
                 formControlName="prenom" 
                 placeholder="Prenom"></ion-input>
    </ion-item>
    <ion-item lines="none" class="input-item"> 
      <ion-input type="email" 
                 formControlName="email" 
                 placeholder="Email"></ion-input>
    </ion-item>
    <ion-item lines="none" class="input-item">
      <ion-input type="password" 
                 formControlName="password" 
                 placeholder="Mot de passe"></ion-input>
    </ion-item>
    <ion-item lines="none" class="input-item">
      <ion-input type="text" 
                 formControlName="tel" 
                 placeholder="Numero de téléphone"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer class="ion-padding" translucent="true">
  <ion-button class="btn-suivant"  [disabled]="form.invalid" expand="block" 
  (click)="submit()">
  <span>Suivant</span>
  <ion-icon size="small" name="chevron-forward"></ion-icon>
  </ion-button>
</ion-footer>
</ion-app>
  

