<ion-app>
  <ion-header class="ion-no-border" fullscreen="true">
  <ion-toolbar color="primary">
    <h1>Inscription</h1>
    <p slot="end">1 sur 3</p>
  </ion-toolbar>
</ion-header>

<ion-content translucent="true" class="ion-padding">
  <div class="title">
    <p><span> 1 </span> Vos Informations</p>
  </div>
  <form class="ion-padding">
    <ion-item lines="none" class="ion-select-item" color="primary">
      <ion-select  slot="" interface="popover" placeholder="Choisir votre langue">   
        <ion-select-option class="select-interface-option" value="nes">langue</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item lines="none" class="input-item">
      <ion-input type="text" 
                 name ="nom"
                 [(ngModel)]="postData.nom" 
                 placeholder="Nom"></ion-input>
    </ion-item>
    <ion-item lines="none" class="input-item">
      <ion-input type="text" 
                 name="prenom" 
                 [(ngModel)]="postData.prenom" 
                 placeholder="Prenom"></ion-input>
    </ion-item>
    <ion-item lines="none" class="input-item"> 
      <ion-input type="email" 
                 name="email" 
                 [(ngModel)]="postData.email" 
                 placeholder="Email"></ion-input>
    </ion-item>
    <ion-item lines="none" class="input-item">
      <ion-input type="password" 
                 name="password"
                 [(ngModel)]="postData.password" 
                 placeholder="Mot de passe"></ion-input>
    </ion-item>
    <ion-item lines="none" class="input-item">
      <ion-input type="text" 
                 name="tel" 
                 [(ngModel)]="postData.tel" 
                 placeholder="Numero de téléphone"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer class="ion-padding" translucent="true">
  <ion-button class="btn-suivant" expand="block" 
  (click)="submit()">
  <span>Suivant</span>
  <ion-icon size="small" name="chevron-forward"></ion-icon>
  </ion-button>
</ion-footer>
</ion-app>
  

