<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button
            text=""
            icon="arrow-back-sharp" defaultHref="home/acceuil">
        </ion-back-button>
      </ion-buttons>
      <ion-title>Création de Devis</ion-title>
      <p slot="end">4 sur 6</p>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen="true" class="ion-padding">
    <div class="title">
      <p><span> 4 </span> Type de traveaux</p>
    </div>
    <div fullscreen="true" class="ion-padding">
      <p>Quelle type de traveaux allez vous faire dans cette pièce ?</p>
      <br>
     <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor = "let travail of traveaux">
          <ion-button (click)="choice(travail.id)">
            {{ travail.img }} <br>
            {{ travail.lib.fr }}
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button>
            <ion-icon name="add-circle-sharp"></ion-icon>
            Autre
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
     
    </div>
  
  </ion-content>
  <ion-footer class="ion-padding" translucent="true">
    <ion-button class="btn-suivant" expand="block" (click)="submit()">
      <span class="suivant">Suivant</span>
      <span>
        <ion-icon size="small" name="chevron-forward"></ion-icon>
      </span>
      </ion-button>
  </ion-footer>
  
  </ion-app>