ion-grid {
    ion-col {
       
    }
  
    span {
        color:#28367a;
    }
    padding: 0;
    ion-col {
        padding:0;
    }
    .date {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .table {
        p {
            margin-top:5px;
            margin-bottom:5px;
            font-size:65%;       
        }
       
        ion-icon {
            color: #28367a;
        }
        .title {
           // margin: 2px;
           ion-col {
            background-color: #28367a;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-style: solid;
            border-color:white ;
           }
        }
        .data {
            ion-col {
            background-color: rgb(248, 248, 248);
            color: rgb(86, 86, 86);
            font-weight: bold;
            border-width: 1px;
            border-style: solid;
            border-color:white;
            }
           .editProduct {
                background-color: #28367a;
                ion-icon {
                    color: white;
                    padding: 30% 10%;
                }
            }
        }
        .add {
            ion-col {
            background-color: rgb(248, 248, 248);
           // align: center;  
            } 
       
        }
      
    } 
    .calcul-table {
        p {
            margin-top:10px;
            margin-bottom:10px;
            font-size:65%;       
        }
      
        ion-icon {
            color: white;
        }
        .title {
           // margin: 2px;
           ion-row {
            background-color: #28367a;
            color: white;
            font-weight: bold;
            border-width: 1px;
            border-style: solid;
            border-color:white ;
           }
        }
        .data {
            ion-row {
            background-color: rgb(248, 248, 248);
            color: rgb(86, 86, 86);
            font-weight: bold;
            border-width:1px;
            border-style: solid;
            border-color:white ;
            }
        }
       
    } 
    ion-label {
        font-size: 13px;
        font-weight: bold;
    }
    ion-note {
        font-size: 10px;
        font-weight: bold;
    }
}
.add-intervention {
    color: #28367a;
}