<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          icon="arrow-back-sharp" defaultHref="home/acceuil">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">

    <div class="header">
      <ion-icon name="person-circle-outline"></ion-icon>
      <h3>CLIENTS</h3>
    </div>
       
<ion-list>
  <ion-list-header lines="full">
    <ion-grid>
     <ion-row>
      <ion-col size="10">
        <ion-searchbar debouce="700" 
        (ionChange)="_ionChange($event)" 
        placeholder="Recherche">
       </ion-searchbar>
       </ion-col>
       <ion-col size="2">
        <ion-icon name="filter"></ion-icon>
      </ion-col>
     </ion-row>
    </ion-grid>
  </ion-list-header>
 <!-- (click) = openDetailModal(client)-->
 <div  *ngFor = "let client of searchItem" class="item-container">
<ion-item (click)="testClick()"
           lines="none" 
           detail="true">
          
  <ion-avatar slot="start">
    <ion-icon size="large" name="person-circle-outline" ></ion-icon>
  </ion-avatar>
  <ion-label>
    <h3>{{ client.nom }} </h3>
  </ion-label>
    <ion-button  slot="end">
      Voir details
    </ion-button>
</ion-item>
</div>
</ion-list>

</ion-content>