ion-grid {
    padding: 0;
    ion-col {
        padding: 0;
    }
}
ion-searchbar {
    padding: 0px;
    --border-radius: 5px;
    --background: rgb(248, 248, 248);
    --icon-color: #28367a;
    --placeholder-color: #28367a;
    --placeholder-opacity: 100%;
    --placeholder-font-size: 1px;
}
ion-list-header {
    padding: 0px;
    margin-bottom: 10px;
}
h3 {
    font-weight: bold;
}
ion-item {
    --detail-icon-color: #28367a;
    padding-bottom: 5px;
    --inner-padding-right: 0px;
    --background: rgb(248, 248, 248);
    --border-radius: 5px;
    --detail-icon-color:#28367a;
    --detail-icon-opacity: 100%;
    --detail-icon-font-size: 17px;
    ion-button {
    padding:0px;
    margin: 0px;
    font-weight: bold;
    font-size: x-small;
    --background: transparent;
    --color: #28367a;
        }  
}
.item-container {
    padding-top: 3px;
    border-radius: 5px;
}