
  ion-tab-button.tab-selected {
    ion-icon, ion-label {
      color: var(--ion-color-primary-shade) !important;
      --ion-color-base: var(--ion-color-primary-shade) !important;
    }
      }

  ion-button {
    --border-radius: 5px;
  }

  .custom {
    height:80px;
    font-weight: bold;
    --border-top-left-radius: 6px;
    --border-top-right-radius: 6px;
    --border-bottom-left-radius: 6px;
    --border-bottom-right-radius: 6px;
    
    --border-radius: 
      var(--border-top-left-radius) 
      var(--border-top-right-radius) 
      var(--border-bottom-right-radius)
      var(--border-bottom-left-radius);
  }

  input.custom {
    border-color: medium;
  }

  form {
    .input-item{
      border-radius: 5px;
        border-width: 2px;
        margin-bottom: 10px;
        border-color: rgb(128, 128, 128);
        border-style: solid;
    }
    .ion-select-item {
      border-radius: 5px;
        border-width: 2px;
        margin-bottom: 10px;
        border-color: #28367a;
       }
    .ion-select-item:hover {
      border-radius: 5px;
        border-width: 2px;
        margin-bottom: 10px;
        border-color: #e4261b;
       }   
}


ion-header{
  ion-toolbar {
    --color: white;
    h1 {
      font-weight: bold;
      font-size: 18px;
      padding-left: 10px;
  }
    p {
      padding-right: 25px;
      font-size: 14px;
    }
    ion-buttons {
      padding-left: 10px;
    }
    } 
    h4 {
      text-align: start;
      padding-left: 20px;
    }
}

.header {
    color: #28367a;
    text-align: center;
    
  h1 {
    font-weight: bold;
  } 
  ion-icon {
    font-size: 400%;
  }

}
div.title {
  p {
    font-weight: bold;
    color: #28367a;
    span {
      color: white;
      text-align: center;
      background-color: #e4261b;
      display: inline;
      border-radius : 50%;
      width: 100px;
      height: 100px;
      padding: 5px;  
  }
  }
}

ion-searchbar {
  padding: 0px;
  --border-radius: 5px;
}
.active-link {
  --background: #e4261b !important;
}

.side-menu-item {
  
}

//******************************
.popover-content{
  width: 90%!important;
  left: 5%!important;
}
.popover_setting .popover-content {
  width: 90%!important;
  left: 5%!important;

}
.popover-content .popover-content {
  .popover-container {
  form {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
  ion-button {
    font-weight: bold;
    p {
      padding-left: 20%;
      margin-right: 20%;
    }
  }
  ion-item {
    margin-bottom: 5%;
    margin-top: 3%;
  }
ion-label {
  color : #28367a;
  font-weight: bold;
  margin-bottom: 5%;
}
  }
}
}