<ion-app>
  <ion-header>
    <ion-toolbar  color="primary">
      <h1 slot="start">Création de Devis</h1>
      <p slot="end">6 sur 6</p>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen="true" class="ion-padding">
    <div class="title">
      <p><span> 6 </span> Validation</p>
    </div>
  
  </ion-content>
  <ion-footer class="ion-padding" translucent="true">
    <div class="ion-padding">
      <ion-button class="btn-suivant" expand="block" 
      (click)="submit()">génerer un devis 
      <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </div>
   
  </ion-footer>
  
  </ion-app>
  