<!--<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          icon="arrow-back-sharp" defaultHref="home/acceuil">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Modifier Produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content translucent="true" class="ion-padding">
  <ion-header class="">

  </ion-header>
  <form  class="ion-padding">

    <ion-label>Nom produit</ion-label>
    <ion-item lines="none" class="input-item">
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
     <ion-input value="" type="text" [(ngModel)]="updated.nom"></ion-input>
    </ion-item>

    <ion-label>Fabricant</ion-label>
    <ion-item lines="none" class="input-item">
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
      <ion-input value="" type="text" [(ngModel)]="updated.fabricant"></ion-input>
    </ion-item>

    <ion-label>Réference</ion-label>
    <ion-item lines="none" class="input-item"> 
      <ion-input value="" type="text" [(ngModel)]="updated.reference"></ion-input>
    </ion-item>

    <ion-label>Prix</ion-label>
    <ion-item lines="none" class="input-item">
      <ion-input value="" type="text" [(ngModel)]="updated.prix"></ion-input>
    </ion-item>

    <ion-label>Description</ion-label>
    <ion-item lines="none" class="input-item">
      <ion-textarea rows="4" value="" type="text" [(ngModel)]="updated.desc"></ion-textarea>
    </ion-item>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
      <ion-button class="" expand="block" 
      (click)="delete()" > 
      </ion-button>
          </ion-col>
          <ion-col size="6">
      <ion-button class="" expand="block" 
      (click)="update()" > 
      </ion-button>           
          </ion-col>
        </ion-row>
     </ion-grid>
  </form>

</ion-content>-->
