
ion-menu-toggle {
ion-button{
    margin-bottom: 7px;
    span{
      text-align:left;
      width:60%;
      font-weight: bold;
    }
    ion-icon {
        padding-right: 10px;
    }
  }
}

ion-grid {
  padding-left: 5%;
  padding-right: 0%;
  padding-top: 10%;
  padding-bottom: 10%;
h2 {
  color: #28367a;
  font-weight: bold;
  margin: 0px;
  font-size: large;
}
ion-info {
  color: #28367a;
  margin: 0%;
  padding: 0%;
  padding-bottom: 5%;
  font-size: 70%;
}
}
  