<ion-app>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Création de Devis</ion-title>
    <p slot="end">3 sur 6</p>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div class="title">
    <p><span> 3 </span> Type de prestation</p>
  </div>
  <div fullscreen="true" class="ion-padding">
    <p>Choix le type de prestation</p>
    <br>
    <ion-button expand="block">
    </ion-button>
  </div>
</ion-content>

<ion-footer class="ion-padding" translucent="true">
  <ion-button class="btn-suivant" expand="block" 
  (click)="submit()" >Suivant 
  <ion-icon name="chevron-forward"></ion-icon>
  </ion-button>
</ion-footer>

</ion-app>