ion-searchbar {
    padding: 0px;
    --border-radius: 5px;
}
ion-button {
    ion-icon {
        margin-right: 10px;
    }
}
ion-button {
    margin-bottom: 7px;
}
ion-label {
    align: center;
}
img {
}