<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
      text="" 
      icon="arrow-back-sharp" 
      defaultHref="home/acceuil">
  </ion-back-button>
    </ion-buttons>
    <ion-title>Modifier Produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content translucent="true" class="ion-padding">
  <div class="header">
<img [src]="produit.img" alt="image">
<div>
  <ion-icon slot="end" name="camera" ></ion-icon>
</div>
  </div>
  <form>

    <ion-label>Nom produit</ion-label>
    <ion-item lines="none" class="input-item">
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
     <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="produit.lib" (ngModelChange)="isChanged=true"  type="text"></ion-input>
    </ion-item>
    <ion-label>Fabricant</ion-label>
    <ion-item lines="none" class="input-item">
      <ion-icon name="pencil-outline" slot="end"></ion-icon>
      <ion-input  [ngModelOptions]="{standalone: true}" [(ngModel)]="produit.fabricant" (ngModelChange)="isChanged=true" type="text"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6" class="left-col">
          <ion-label>Réference</ion-label>
          <ion-item lines="none" class="input-item"> 
            <ion-icon name="pencil-outline" slot="end"></ion-icon>
            <ion-input [ngModelOptions]="{standalone: true}"  [(ngModel)]="produit.reference" (ngModelChange)="isChanged=true" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6" class="right-col">
          <ion-label>Prix</ion-label>
          <ion-item lines="none" class="input-item">
            <ion-icon name="pencil-outline" slot="end"></ion-icon>
            <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="produit.prix_vente" (ngModelChange)="isChanged=true" type="text"></ion-input>
          </ion-item>          
        </ion-col>
      </ion-row>
   </ion-grid>

    <ion-label>Description</ion-label>
    <ion-item lines="none" class="input-item">
      <ion-textarea rows="7" [ngModelOptions]="{standalone: true}" [(ngModel)]="produit.desc" (ngModelChange)="isChanged=true" type="text"></ion-textarea>
    </ion-item>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="6" class="left-col">
      <ion-button class="" expand="block" 
      (click)="delete()">Supprimer
      </ion-button>
          </ion-col>
          <ion-col size="6" class="right-col">
      <ion-button class="" expand="block" 
      (click)="update()">Enregistrer Modification
      </ion-button>           
          </ion-col>
        </ion-row>
     </ion-grid>     
  </form>
</ion-content>
