<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button icon="menu">
      </ion-button>
    </ion-buttons>
    <ion-title>Catégorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  
    <ion-searchbar placeholder="Recherche"></ion-searchbar>
    <br>
  
    <ion-button expand="block">
      <ion-icon name="add-circle-sharp"></ion-icon>
    Ajouter une catégorie
    </ion-button>
    <br>
      
<div>
    <ion-button expand="block" 
                (click) = openCategorieModal()></ion-button>
</div>
  
</ion-content>
