.ion-padding {
    padding-bottom: 0px;

}
ion-toolbar {
    img {
        height: 48px;
        inset: 0px;
        position:sticky;
    }
}

ion-slide {
    border-radius: 5px;
}

ion-searchbar {
    padding: 0px;
}

ion-button {
    text-align: left;
    ion-icon {
    }
}