<ion-header class="ion-padding">
  <ion-toolbar class="home-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="custom" (click)="getUserInfo()"></ion-menu-button>
    </ion-buttons>
    <img slot="end" src="../../../assets/images/logo.png" alt="logo">
  </ion-toolbar>
  
  <ion-slides pager="true" [options]="slideOpts"> 
    <ion-slide>
      <img src="../../../assets/images/logo.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/images/logo.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/images/logo.png" alt="">
    </ion-slide>
  </ion-slides>
</ion-header>
  
<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-searchbar (ionFocus)="search()"  placeholder="Recherche"></ion-searchbar>
  </ion-toolbar>

    <ion-button size="large" class="custom" expand="block" routerLink="/home/clients">
      <ion-icon  name="albums-outline"></ion-icon>
      <span>
        <h1>Clients</h1>
      </span>
    </ion-button>
    <br>
    <ion-button  size="large" class="custom" expand="block" routerLink="/home/factures/factures">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <span>
        <h1>Factures</h1>
      </span>
    </ion-button>
    <br>
    <ion-button size="large" class="custom" expand="block" routerLink="/home/devis/devis">
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <span>
        <h1>Devis</h1>
      </span>
    </ion-button>

 
</ion-content>
