<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
          text=""
          icon="arrow-back-sharp" defaultHref="home/acceuil">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <header>
    <div class="header">
      <ion-icon name="albums"></ion-icon>
      <h3>CLIENTS</h3>
    </div>
        <ion-toolbar>
          <ion-searchbar placeholder="Recherche"></ion-searchbar>
        </ion-toolbar>
  </header>
  
<div>
<ion-list>
  <ion-card *ngFor = "let client of clients$|async" 
            (click) = openDetailModal(client)>
<ion-card-content>
<ion-grid fixed>
<ion-row>
<ion-col size="3">
 <ion-thumbnail>
 </ion-thumbnail>
</ion-col>
<ion-col size="9">
   <ion-card-title>{{ client.nom }}</ion-card-title> 
   <ion-card-title>{{ client.email }}</ion-card-title>           
</ion-col>
</ion-row>
</ion-grid>
</ion-card-content>
</ion-card>
</ion-list>
  
</div>
  
</ion-content>