<ion-app>
  <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Création de Devis</ion-title>
    <p slot="end">1 sur 6</p>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <div class="title">
    <p><span> 1 </span> Coordonnées de votre client</p>
  </div>
  <div class="ion-padding" fullscreen="true">
    <br>
    <form >
     
      <ion-item lines="none" class="input-item">
        <ion-input type="text" 
                   name ="nom"
                   [(ngModel)]="postData.nom" 
                   placeholder="Nom client"></ion-input>
      </ion-item>
      
      <ion-item lines="none" class="input-item"> 
        <ion-input type="email" 
                   name="email" 
                   [(ngModel)]="postData.email" 
                   placeholder="Email client"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-item">
        <ion-input type="text" 
                   name="adr"
                   [(ngModel)]="postData.adr" 
                   placeholder="Adresse client"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-item">
        <ion-input type="text" 
                   name="tel" 
                   [(ngModel)]="postData.tel" 
                   placeholder="Numero de téléphone client"></ion-input>
      </ion-item>
    </form>
  </div>

</ion-content>
<ion-footer class="ion-padding" translucent="true">
  <ion-button class="btn-suivant" expand="block" 
  (click)="submit()" >Suivant 
  <ion-icon name="chevron-forward"></ion-icon>
  </ion-button>
</ion-footer>

</ion-app>